<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKT9weyFGEcMWu5ufMsRlhvKPVgT_nMYs</string>
	<key>GCM_SENDER_ID</key>
	<string>253730598173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFlutterAi</string>
	<key>PROJECT_ID</key>
	<string>flutter-ai-cc95d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ai-cc95d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253730598173:ios:da56f6e19eeb37d19685f4</string>
</dict>
</plist>